:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-25: #f5faff;
  --color-blue-50: #eff8ff;
  --color-blue-100: #d1e9ff;
  --color-blue-200: #b2ddff;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;
  --color-blue-950: #102a56;
  --color-pink-25: #fff5f6;
  --color-pink-50: #fff1f3;
  --color-pink-100: #ffe4e8;
  --color-pink-200: #fecdd6;
  --color-pink-300: #fea3b4;
  --color-pink-400: #fd6f8e;
  --color-pink-500: #f63d68;
  --color-pink-600: #e31b54;
  --color-pink-700: #c01048;
  --color-pink-800: #a11043;
  --color-pink-900: #89123e;
  --color-pink-950: #510b24;
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;
}
